.contenedor {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  /* con el sgte ejemplo puedes combinar medidas y repeat */
  /* grid-template-columns: 200px repeat(2, 1fr) 100px ; */
}
