.contenedor {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 200px 100px 200px;

  /* estos comandos son para los implicitos */
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;

  /* puedes usar dense  para ubicar los implicitos en los espacios vacios tambien funciona con columnas*/
  grid-auto-flow: dense;
  /* grid-auto-flow: row; */
}

.contenedor .span2 {
  grid-column: span 2;
  background-color: hsla(10, 96%, 56%, 1);
}

.contenedor .span3 {
  grid-column: span 3;
  background-color: hsla(10, 6%, 50%, 1);
}
