.header {
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
}
.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  font-size: 50px;
  /* align-items: center; */
  text-align: center;
  border: 2px solid;
}
.contenedor div {
  /* display: block; */
  padding: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(214, 97%, 59%);
  box-shadow: 2px 5px 10px hsla(0, 0%, 3%, 0.9);
}
.contenedor .dos {
}
